<article>
    <search find-movie="findMovie" max-val="maxVal" movie-title="movieTitle"></search>

    <div class="collection z-depth-5">
        <a class="collection-item blue-grey darken-4"
            ng-hide="isLoaded">
            <div class="progress blue-grey darken-3">
                <div class="indeterminate light-blue"></div>
            </div>
        </a>

        <a class="collection-item blue-grey-text"
           ng-href="#!/movie/{{movie.imdbID}}"
           ng-repeat="movie in movies.Search | filter:findMovie:strict | filter:byRating('rt'):strict">
                {{movie.Title}}
        </a>
    </div>

    <!--<paginate active-page="page" total="{{movies.totalResults}}"></paginate>-->
    <ul class="pagination center-align">
        <li ng-repeat="p in getPages()"
            ng-class="{'active blue-grey darken-3 z-depth-3': isActive(p)}">
            <a href="#!/movies/{{p}}">{{p}}</a>
        </li>
    </ul>
</article>