body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

article {
    flex: 1 0 auto;
}

.modal {
    position: fixed !important;
        bottom: -50vh;
        left:   0vw;
    display: block !important;
    width:  100vw !important;
    height: 50vh !important;
    z-index: 9999;

    transition:             all 0.5s !important;
    -webkit-transition:     all 0.5s !important;
    -moz-transition:        all 0.5s !important;
    -o-transition:          all 0.5s !important;

    transition-duration:    0.5s;
}

input[type=range] {
    margin: 40px 0px 0px 0px !important;
}

span.thumb.active {
    top: 0px !important;
}

.tag {
    display: inline-block;
    height: 24px;
    min-width: 15px;
    margin: 0 5px 0 0;
    padding: 0 15px;
    border-radius: 12px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.3);
}

.m-overlay {
    position: fixed;
        top:    0vh;
        left:   0vh;
    display:  block;
    height:     100vh;
    width:      100vw;
    background: rgba(0,0,0,0);
    opacity:    1;
    z-index:    9998;
    visibility: hidden;

    transition:             all 0.3s !important;
    -webkit-transition:     all 0.3s !important;
    -moz-transition:        all 0.3s !important;
    -o-transition:          all 0.3s !important;

    transition-duration:    0.3s;
}

.m-overlay-show {
    background: rgba(0,0,0,0.7);
    visibility: visible;
}

.modal-show {
    bottom: 0vh !important;
}